
.body{
    margin: 0;
    background-color: black;
}

.header{
    display: flex;
    /* justify-content: center; */
    width: 100%;
    height: 100px;
    background-color: rgb(14, 13, 13);
    
}

.header__text{
  display: flex;
  margin-left: 100px;
  font-size: 50px;
  letter-spacing:-2px;
  color: rgb(14, 13, 13);
  text-shadow: 0 0 5px rgb(14, 13, 13), 0 0 10px rgb(14, 13, 13), 0 0 15px rgb(14, 13, 13), 0 0 20px rgb(29, 231, 56), 0 0 25px rgb(29, 231, 56);
  -webkit-text-fill-color: #020202;
  -webkit-text-stroke-color:rgb(29, 231, 56);
  -webkit-text-stroke-width:0.2px; 
}


.irinicio{
    display: flex;
    position: absolute;
    margin-left: 350px;
    margin-top: 50px;
}

.inicio{
    text-decoration: none;
    color: rgb(29, 231, 56);
    font-weight: bold;
}

.inicio:hover{
    text-decoration: underline;
}

.header__show{
    display: flex;
    position: absolute;
    margin-left: 500px;
    margin-top: 50px;
    text-decoration: none;
    color: rgb(29, 231, 56);
    font-weight: bold
}

.header__show:hover{
    text-decoration: underline;
}

.header__logout{
    display: flex;
    position: absolute;
    margin-left: 800px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(29, 231, 56);
    font-weight: bold;
    cursor: pointer;

}

.titlelogitech{

    display: flex;
    justify-content: center;
    color: rgb(29, 231, 56);
    font-weight: bold; 
    padding-bottom: 30px;

}

.form{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 332px;
    height: auto;
    border: 5px solid rgb(29, 231, 56);
    color: rgb(204, 197, 197);
    margin-bottom: 80px;
    font-weight: bold;
}

.form__name{
    display: flex;
    margin-bottom: 20px;
    padding-top: 70px;
}

.form__opinion{
    display: flex;
    margin-bottom: 20px;
}

.send{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 70px;
}


.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px ;
    background-color:   rgb(14, 13, 13);
}

.texto{
    display: flex;
    position: absolute;
    color: rgb(29, 231, 56);
    margin: 30px;
    margin-left: 30px;
}

.contacto{
    margin-left: 500px;
    color: rgb(29, 231, 56);
    margin-top: 10px;
}

.form__opinion-box{
    width: 200px;
    height: 50px;
}

