.body{
    margin: 0;
    background-color: black;
}


.header{
    display: flex;
    /* justify-content: center; */
    width: 100%;
    height: 100px;
    background-color: rgb(14, 13, 13);
    
}

.header__text{
  display: flex;
  margin-left: 100px;
  font-size: 50px;
  letter-spacing:-2px;
  color: rgb(14, 13, 13);
  text-shadow: 0 0 5px rgb(14, 13, 13), 0 0 10px rgb(14, 13, 13), 0 0 15px rgb(14, 13, 13), 0 0 20px rgb(29, 231, 56), 0 0 25px rgb(29, 231, 56);
  -webkit-text-fill-color: #020202;
  -webkit-text-stroke-color:rgb(29, 231, 56);
  -webkit-text-stroke-width:0.2px; 
}

.irinicio{
    display: flex;
    position: absolute;
    margin-left: 350px;
    margin-top: 50px;
}

.inicio{
    text-decoration: none;
    color: rgb(29, 231, 56);
    font-weight: bold;
}

.inicio:hover{
    text-decoration: underline;
}

.header__icon{
    display: flex;
    position: absolute;
    margin-left: 700px;
    margin-top: 50px;
    font-size: 20px; 
    color:rgb(29, 231, 56);   
}

.header__icon:hover{
    color:rgb(94, 212, 248);
    cursor: pointer;
    
}

.header__logout{
    display: flex;
    position: absolute;
    margin-left: 800px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(29, 231, 56);
    font-weight: bold;
    cursor: pointer;
}

.titlelogitech{

    display: flex;
    color: rgb(29, 231, 56);;
    font-weight: bold;
    margin-left: 240px;
    padding-bottom: 30px;

}


.brands{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    
}

.brands__img{
    height: 400px;
    width: 100%;
    cursor: pointer;
}

.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px ;
    background-color:   rgb(14, 13, 13);
}

.texto{
    display: flex;
    position: absolute;
    color: rgb(29, 231, 56);
    margin: 30px;
    margin-left: 30px;
}

.contacto{
    margin-left: 500px;
    color: rgb(29, 231, 56);
    margin-top: 10px;
}