.body{
    margin: 5%;
    background-color: black;
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 500px;
    margin-left: 225px;
    border: 4px solid rgb(29, 231, 56);
    margin-bottom: 50px;
}


.register__text{
    display: flex;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 270px;
    font-size: 40px;
    letter-spacing:-2px;
    color: rgb(14, 13, 13);
    text-shadow: 0 0 5px rgb(14, 13, 13), 0 0 10px rgb(14, 13, 13), 0 0 15px rgb(14, 13, 13), 0 0 20px rgb(29, 231, 56), 0 0 25px rgb(29, 231, 56);
    -webkit-text-fill-color: #020202;
    -webkit-text-stroke-color:rgb(29, 231, 56);
    -webkit-text-stroke-width:0.2px; 
  }

  .register__form{
    margin-left: 200px;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:-2px;
    color: rgb(14, 13, 13);
    text-shadow: 0 0 5px rgb(14, 13, 13), 0 0 10px rgb(14, 13, 13), 0 0 15px rgb(14, 13, 13), 0 0 20px rgb(29, 231, 56), 0 0 25px rgb(29, 231, 56);
    -webkit-text-fill-color: #020202;
    -webkit-text-stroke-color:rgb(29, 231, 56);
    -webkit-text-stroke-width:0.2px; 
  }


.email{
    display: inline-block;
    margin-left: 270px;
    margin-bottom: 20px;
}

.password{
    display: inline-block;
    margin-left: 270px;
}

.write{
    background-color: rgb(29, 231, 56);
}

p{
    color: rgb(29, 231, 56) ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    margin-left: 320px;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: rgb(29, 231, 56) ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    text-decoration: underline;
}

.question{
    margin-left: 220px;
}

.title-entry{
    margin-left: 300px;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:-2px;
    color: rgb(14, 13, 13);
    text-shadow: 0 0 5px rgb(14, 13, 13), 0 0 10px rgb(14, 13, 13), 0 0 15px rgb(14, 13, 13), 0 0 20px rgb(29, 231, 56), 0 0 25px rgb(29, 231, 56);
    -webkit-text-fill-color: #020202;
    -webkit-text-stroke-color:rgb(29, 231, 56);
    -webkit-text-stroke-width:0.2px; 
}

.title-principal{
    display: flex;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 240px;
    font-size: 40px;
    letter-spacing:-2px;
    color: rgb(14, 13, 13);
    text-shadow: 0 0 5px rgb(14, 13, 13), 0 0 10px rgb(14, 13, 13), 0 0 15px rgb(14, 13, 13), 0 0 20px rgb(29, 231, 56), 0 0 25px rgb(29, 231, 56);
    -webkit-text-fill-color: #020202;
    -webkit-text-stroke-color:rgb(29, 231, 56);
    -webkit-text-stroke-width:0.2px; 
}