.body{
    margin: 0;
    background-color: black;
}


.header{
    display: flex;
    /* justify-content: center; */
    width: 100%;
    height: 100px;
    background-color: rgb(14, 13, 13);
    
}

.header__text{
  display: flex;
  margin-left: 100px;
  font-size: 50px;
  letter-spacing:-2px;
  color: rgb(14, 13, 13);
  text-shadow: 0 0 5px rgb(14, 13, 13), 0 0 10px rgb(14, 13, 13), 0 0 15px rgb(14, 13, 13), 0 0 20px rgb(29, 231, 56), 0 0 25px rgb(29, 231, 56);
  -webkit-text-fill-color: #020202;
  -webkit-text-stroke-color:rgb(29, 231, 56);
  -webkit-text-stroke-width:0.2px; 
}

.irinicio{
    display: flex;
    position: absolute;
    margin-left: 200px;
    margin-top: 50px;
}

.inicio{
    text-decoration: none;
    color: rgb(29, 231, 56);
    font-weight: bold;
}

.inicio:hover{
    text-decoration: underline;
}


.header__goPeriférico{
    display: flex;
    position: absolute;
    margin-left: 420px;
    margin-top: 50px;
}

.header__goPeriférico-position{
    text-decoration: none;
    color: rgb(29, 231, 56);
    font-weight: bold;
}

.header__goPeriférico-position:hover{
    text-decoration: underline;
}



.header__icon{
    display: flex;
    position: absolute;
    margin-left: 700px;
    margin-top: 50px;
    font-size: 20px; 
    color:rgb(29, 231, 56);   
}

.header__icon:hover{
    color:rgb(94, 212, 248);
    cursor: pointer;
    
}

.header__logout{
    display: flex;
    position: absolute;
    margin-left: 800px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(29, 231, 56);
    font-weight: bold;
    cursor: pointer;
}

/* .box__products{
    display: flex;
} */

.box__products-colocation{
    display: inline-block;
    margin: 40px;
    padding-left: 40px;
    border: 3px solid  rgb(29, 231, 56);
    width: 300px;
    height: auto;
    color: rgb(204, 197, 197);
    font-weight: bold;
       
}

.box__name{
    text-align: center;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.box__image{
    display: flex;
    justify-items: center;
    
}

.box__image-size{
    width: 250px;
    height: 150px;
}

.box__button{
    text-align: center;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    
}

.box__button-color{
    cursor: pointer;
    background-color:  rgb(29, 231, 56);
    border-radius: 5px;
    font-weight: bold;
}


.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px ;
    background-color:   rgb(14, 13, 13);
}

.texto{
    display: flex;
    position: absolute;
    color: rgb(29, 231, 56);
    margin: 30px;
    margin-left: 30px;
}

.contacto{
    margin-left: 500px;
    color: rgb(29, 231, 56);
    margin-top: 10px;
}