<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/addComent.css">
    <title>Coments</title>
</head>
<body class="body">

<header>
    <div class="header">
            <div>
                <h1 class="header__text">YOUGAMER</h1>
            </div>
    <nav>
   
    <div class="irinicio">
        <a class="inicio" href="/">Ir a Inicio</a>
    </div>

    <div>
        <a class="header__show" href="/coments/showComents">Ver Opiniones</a>
    </div>


     <form action="/users/logout" method="POST">
            <input class="header__logout" type="submit" value="Logout">
    </form>


    </nav>
</header>


        <h1 class="titlelogitech">Añade una opinión sobre nosotros o el producto comprado</h1>

    <div class="form">
     <form action="/coments/createComent" method="POST">


     <div class="form__name">
            <span> Nombre del producto: </span>
                <label for="name">
                    <input  type="text" name="name" id="name">
                </label>
    </div>



    <div class="form__opinion">
            <span> Comentario: </span>
                <label for="text">
                    <textarea type="text" name="text" id="text" maxlength="250"></textarea>
                </label>
    </div>



    <div>
            <span> Valoración: </span>
                <label for="valoration">
                   <select  name="valoration" id="valoration">

                        <option value="muy malo">
                           muy malo
                        </option>

                        <option value="malo">
                            malo
                        </option>

                        <option value="bueno">
                            bueno
                        </option>

                        <option value="muy bueno">
                            muy bueno
                        </option>

                    </select>
                       
                </label>

    </div>   


    <div class="send">
            
            <button type="submit">Enviar</button>
                          
    </div>

     
        </form>
     </div>


      <footer>
    <div class="footer">
        <div class="texto">
        <p>Dirección: Plaza Nicaragua 88, Móstoles, Madrid.</p>
        </div>

        <div >
        <p class="texto">Horario: L-V 10-20 Horas </p>
        </div>

        <div>
            <p class="contacto"> Contacto </p>
            <p class="contacto"> Teléfono: 679055555 </p>
            <p class="contacto"> E-mail: oscardelafuentetoledo10@gmail.com </p>
        </div>
    </div>
</footer>
</body>
</html>