<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos YOUGAMER</title>
</head>
<body>
    <h1>Todos los productos por categoria de YOUGAMER</h1>

    <div>
        <a href="/">Ir a inicio</a>
    </div>

 <div>
        <a href="/products/create">Añadir producto</a>
    </div>
    
     <table>

        <tr>
            
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Eliminar</th>
            
        </tr>

        {{#each products}}

        <tr>       
            
            
            <td>{{ name }}</td>
            <td><img   style="width: 90px;" src="{{image}}" ></td>
            <td>{{ price }} €</td>
            <td>
                <a href="/products/{{_id}}/delete">
                    <img src="https://tse1.mm.bing.net/th?id=OIP.BGQ-YLYWjiG6g1E5f9W-RgHaHa&pid=Api&P=0&w=300&h=300.jpg" width="20">
                </a>
            </td>
                <td>
                    <a href="/products/{{ _id }}">Ver producto</a>
                </td>
        </tr>

        {{/each}}

        </table>

    </body>
</html>