<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir producto</title>
</head>
<body>
    <h1>Añadir nuevo producto</h1>

    <form action="/products/create" method="POST" enctype="multipart/form-data">

      
        <div>
            <span> Tipe: </span>
                <label for="tipe">
                    <select name="tipe" id="tipe">

                        <option value="keyboard">
                            keyboard
                        </option>

                        <option value="mouse">
                            mouse
                        </option>

                        <option value="headset">
                            headset
                        </option>
                </select>
            </label>
        </div>

    <div>
            <span> Name: </span>
                <label for="name">
                    <input  type="text" name="name" id="name">
                </label>
    </div>

        <div>
                <span> Image: </span>
                    <label for="image">
                        <input  type="file" name="image" id="image" accept="image/png, image/jpg">
                    </label>
        </div>

            <div>
                <span> Description: </span>
                    <label for="description">
                        <input  type="text" name="description" id="description" size=" 100px" maxlength="500"> 
                    </label>
            </div>

                <div>
                    <span> Price: </span>
                        <label for="price">
                            <input  type="number" name="price" id="price"> 
                        </label>
                </div>

                    <div>
                        <button type="submit">
                             Añadir
                        </button>
                    </div>

</form>

            <div>
                <a href="/">Ir a inicio</a>
            </div>

                <div>
                    <a href="/brands/products">Volver a listado </a>
                </div>

    </body>
</html>