<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto YOUGAMER</title>
</head>
<body>
    <h1>Detalle del producto</h1>

      {{#if product}}
        <h1>Tipe: {{ product.tipe }}</h1>
        <img width="150px" src="{{ product.image }}" alt="imagen producto">
        <h2> Name: {{ product.name }} </h2>
        <p>Description: {{ product.description }}</p>
        <p>Price: {{product.price}}€</p>
        
    {{else}}
        <h3>No hemos encontrado el producto que buscas con ID: {{ id }} </h3>
    {{/if}}


        <div>
            <a href="/">Ir a inicio</a>
        </div>

                <div>
                    <a href="/products/create">Añadir otro</a>
                </div>

                        <div>
                            <a href="/brands/products">Volver a listado </a>
                        </div>
    </body>
</html>