<!DOCTYPE html>

<head>
    <title>error</title>
</head>

<body>
    <div>
        <a href="/">Volver a Inicio</a>
    </div>
    <h1>Hemos tenido un error {{ status }} en nuestro servidor</h1>
    <h3>{{ message }}</h3>
</body>

</html>
