<!DOCTYPE html>
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/index.css">
    <link rel="stylesheet" href="../icons/style.css"> 
   
    <title>{{title}}</title>
</head>

<body class="body">

    <header>

        <div class="header">
            <div>
                <h1 class="header__text">YOUGAMER</h1>
            </div>
                <nav>

     
                    {{#if isAdmin}}
                        <div class="header__isAdmin">

                            <a class="header__users" href="/users">Ver Usuarios</a>
    
                            <a  class="header__products" href="/brands/products">Ver productos</a>
    
                            <a  class="header__create" href="/products/create">Añadir producto</a>
        
                        </div>
                    {{/if}}

        {{#if isUser}}

            <div>
                <a href="https://www.linkedin.com/in/%C3%B3scar-de-la-fuente-toledo-82b75aa3/"><span class=" header__iconinsta icon-instagram"></span></a>
            </div>


            <div>
                <a href="https://www.linkedin.com/in/%C3%B3scar-de-la-fuente-toledo-82b75aa3/"><span class=" header__iconyoutube icon-youtube"></span></a> 
            </div>


            <div>
                <a href="https://www.linkedin.com/in/%C3%B3scar-de-la-fuente-toledo-82b75aa3/"><span class=" header__iconlinkedin icon-linkedin"></span></a> 
            </div>


            <div>
                <a href="/coments/showComents"><span class="header__opinions">Ver Opiniones</span></a> 
            </div>
               
        {{/if}}


            <div>
                <a href="/buy/order-products"><span class=" header__icon icon-cart "></span></a>
            </div>

   
                <form action="/users/logout" method="POST">
                    <input class="header__logout" type="submit" value="Logout">
                </form>

        </nav>

            </div>
        </header>


            <div class="brands">

                    <div>
                        <a href="/brands/logitech"><img class="brands__img" src="/images/logitech/Logitechlogo.jpg" alt="logo logitech"></a>
                    </div>

                        <div>
                            <a href="/brands/razer"><img class="brands__img" src="/images/razer/razerlogo.jpg" alt="logo razer"></a>
                        </div>

                            <div>
                                <a href="/brands/msi"><img class="brands__img" src="/images/msi/Logomsi.jpg" alt="logo msi"></a>
                            </div>

            <div>
                <a href="/brands/corsair"><img class="brands__img" src="/images/corsair/Corsairlogo.jpg" alt="logo corsair"></a>
            </div>
    
</div>


<footer>

        <div class="footer">
            <div class="texto">
                <p>Dirección: Plaza Nicaragua 88, Móstoles, Madrid.</p>
            </div>

                    <div >
                        <p class="texto">Horario: L-V 10-20 Horas </p>
                    </div>

                        <div>
                            <p class="contacto"> Contacto </p>
                            <p class="contacto"> Teléfono: 679055555 </p>
                            <p class="contacto"> E-mail: oscardelafuentetoledo10@gmail.com </p>
                        </div>
            </div>
        </footer>
    </body>
</html>