<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/buy.css">
    <link rel="stylesheet" href="../icons/style.css">
    <title>Orders</title>
</head>
<body class="body">
    <header>
    <div class="header">
            <div>
                <h1 class="header__text">YOUGAMER</h1>
            </div>
 <nav>
   
    <div class="irinicio">
        <a class="inicio" href="/">Ir a Inicio</a>
    </div>
   
        <div>
            <a href="/buy/order-products"><span class=" header__icon icon-cart "></span></a>
        </div>


        <div class="header__goPeriférico">
          <a class="header__goPeriférico-position" href="/">Ir a periféricos</a>
        </div>

   
        <form action="/users/logout" method="POST">
            <input class="header__logout" type="submit" value="Logout">
        </form>

    </nav>
   </header>

        <div class="position">
            <h1 class="titlelogitech">Productos añadidos al carrito</h1>
        </div>

    {{#each users.products }}

    <div class="box__buy">
        <h2 class="buy__name">{{name}}</h2>

        <img class="buy__image" src="{{image}}">

        <p class="buy__price">{{price}} €</p>

        <a href="/buy/order-products/{{_id}}/delete">
            <img class="buy__bin" src="https://tse1.mm.bing.net/th?id=OIP.BGQ-YLYWjiG6g1E5f9W-RgHaHa&pid=Api&P=0&w=300&h=300.jpg" width="20">
        </a>

    </div>

    {{/each}}


         <div class="button__position">
            <button class="box__button-color">Pagar</button>
        </div>

<footer>
    <div class="footer">
        <div class="texto">
        <p>Dirección: Plaza Nicaragua 88, Móstoles, Madrid.</p>
        </div>

        <div >
        <p class="texto">Horario: L-V 10-20 Horas </p>
        </div>

        <div>
            <p class="contacto"> Contacto </p>
            <p class="contacto"> Teléfono: 679055555 </p>
            <p class="contacto"> E-mail: oscardelafuentetoledo10@gmail.com </p>
        </div>
    </div>

   
</footer>

</body>
</html>