<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/logreg.css">
    <title>{{title}}</title>
</head>
<body class="body">

    <div class="register">
    <h1 class="register__text">YOUGAMER</h1>

    <h2 class="register__form">Formulario de Registro</h2>

    <form action="/users/register" method="POST">

            <label class="email">
                <p>Email: </p>
                <input class="write" type="text" name="email">
            </label>

        
            <label class="password">
                <p>Password: </p>
                <input class="write" type="password" name="password">
            </label>


            <a href="/login">Ya estoy registrado</a>

            <div class="button">
             <input class="write" type="submit" value="Registrarse">
            </div>


        {{#if error}}
            <p style="color: red;">{{error}}</p>
        {{/if}}

        
    </form>
    </div>
</body>
</html>