<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/opinions.css">
    <link rel="stylesheet" href="../icons/style.css"> 
    <title>Show Coments</title>
</head>
<body class="body">
    
    <header>
    <div class="header">
            <div>
                <h1 class="header__text">YOUGAMER</h1>
            </div>
 <nav>
   
    <div class="irinicio">
        <a class="inicio" href="/">Ir a inicio</a>
    </div>

        <div class="addOpinion">
            <a class="inicio" href="/coments/createComent">Añade una opnión</a>
        </div>
   
            <div>
                <a href="/buy/order-products"><span class=" header__icon icon-cart "></span></a>
            </div>

</nav>
</header>


        <div class="titleOpinion">
            <h2 class="titlelogitech"> Opiniones de cliente </h2>
        </div>
    
    

    <div class="opinions">
    {{#each view}}
        <div class="opinions__valoration">

            <h4 class="opinions__name">Valoración: </h4>{{valoration}}
           
            <h4 class="opinions__name">Nombre producto: </h4>{{name}}

            <p class="opinions__description">{{text}}</p>

        </div>
     {{/each}}
    </div>

    <footer>
    <div class="footer">
        <div class="texto">
        <p>Dirección: Plaza Nicaragua 88, Móstoles, Madrid.</p>
        </div>

        <div >
        <p class="texto">Horario: L-V 10-20 Horas </p>
        </div>

        <div>
            <p class="contacto"> Contacto </p>
            <p class="contacto"> Teléfono: 679055555 </p>
            <p class="contacto"> E-mail: oscardelafuentetoledo10@gmail.com </p>
        </div>
    </div>
</footer>



</body>
</html>