<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <h1>Usuarios Registrados en YOUGAMER</h1>

    
     <table>
        <tr>
            <th>Email</th>
            <th>Role</th>
            
        </tr>

        {{#each users}}
        <tr>
            <td>{{ email }}</td>
            <td>{{ role }}</td>

        </tr>
        {{/each}}

    </table> 
</body>
</html>