@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t0h5u9');
  src:  url('fonts/icomoon.eot?t0h5u9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t0h5u9') format('truetype'),
    url('fonts/icomoon.woff?t0h5u9') format('woff'),
    url('fonts/icomoon.svg?t0h5u9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e93a";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eac9";
}
