<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheet/products.css">
    <link rel="stylesheet" href="../../icons/style.css">
    <title>Productos</title>
</head>
<body class="body">
    <header>
    <div class="header">
            <div>
                <h1 class="header__text">YOUGAMER</h1>
            </div>
 <nav>
   
    <div class="irinicio">
        <a class="inicio" href="/">Ir a Inicio</a>
    </div>
   
        <div>
            <a href="/buy/order-products"><span class=" header__icon icon-cart "></span></a>
        </div>


        <div class="header__goPeriférico">
          <a class="header__goPeriférico-position" href="/">Ir a periféricos</a>
        </div>

   
        <form action="/users/logout" method="POST">
            <input class="header__logout" type="submit" value="Logout">
        </form>

    </nav>
   </header>


    
  
    {{#each products}}
    {{#each products}}

      <div class="box__products-colocation">

        <h3 class="box__name">{{name}}</h3> 

          <div class="box__image">
            <img class="box__image-size" src="{{image}}" alt= "imagen producto">
          </div>

            <p class="box__name">{{description}}</p>
              <p class="box__name"> Precio: {{price}} €</p>


        <form class="box__button" action="/buy/order-products" method="POST">
            <input name="productId" type="hidden" value="{{_id}}"> 
            <button class="box__button-color" type="submit">Añadir a carrito</button>
        </form>

    </div>

    {{/each}}
    {{/each}}

    


    <footer>
    <div class="footer">
        <div class="texto">
        <p>Dirección: Plaza Nicaragua 88, Móstoles, Madrid.</p>
        </div>

        <div >
        <p class="texto">Horario: L-V 10-20 Horas </p>
        </div>

        <div>
            <p class="contacto"> Contacto </p>
            <p class="contacto"> Teléfono: 679055555 </p>
            <p class="contacto"> E-mail: oscardelafuentetoledo10@gmail.com </p>
        </div>
    </div>
</footer>
    
</body>
</html>