<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../stylesheet/brands.css">
    <link rel="stylesheet" href="../icons/style.css">
    <title>Msi</title>
</head>
<body class="body">
    <header>
    <div class="header">
            <div>
                <h1 class="header__text">YOUGAMER</h1>
            </div>
 <nav>
   
    <div class="irinicio">
        <a class="inicio" href="/">Ir a Inicio</a>
    </div>
   
        <div>
             <a href="/buy/order-products"><span class=" header__icon icon-cart "></span></a>
        </div>

   
        <form action="/users/logout" method="POST">
            <input class="header__logout" type="submit" value="Logout">
        </form>

    </nav>
   </header>

            <div>
                <h1 class="titlelogitech">Encuentra el periférico que necesitas para jugar a otro nivel</h1>
            </div>


<div class="brands">
    <div>
    <a href="/products/msi/keyboard"><img  class="brands__img" src="/images/msi/tecladoLogo.jpg" alt="imagen teclado"></a>
    </div>

    <div>
    <a href="/products/msi/mouse"><img class="brands__img" src="/images/msi/Mouse CLUTCH GM11.png" alt="imagen raton"></a>
    </div>

    <div>
    <a href="/products/msi/headset"><img class="brands__img" src="/images/msi/cascoLogo.jpg" alt="imagen casco"></a>
    </div>

</div>

<footer>
    <div class="footer">
        <div class="texto">
            <p>Dirección: Plaza Nicaragua 88, Móstoles, Madrid.</p>
        </div>

        <div >
            <p class="texto">Horario: L-V 10-20 Horas </p>
        </div>

        <div>
            <p class="contacto"> Contacto </p>
            <p class="contacto"> Teléfono: 679055555 </p>
            <p class="contacto"> E-mail: oscardelafuentetoledo10@gmail.com </p>
        </div>
    </div>
</footer>

</body>
</html>